.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 10%;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.map-container{

}

.search-bar{


}

.navigation-bar {
  background-color: black;
  color: white;
}

.navigation-bar li:hover{
  background-color: darkslategray;
  border: 1px darkred;
  cursor: pointer;
}

.flexbox-container{
  display: flex;
  flex-direction: row;
}

.main{
  padding-left: 1%;
}

.input-filter input[type=text]{
  font-size: large;

}

.left-nav{
  border: 1px solid black;
}